/* esta es la oficial */
@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@600&display=swap');


.menu{
    background-color: #7b64b3;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 80px;
    padding: 5px 5%;
}

.menu .logo_Arg{
    margin-right: auto;
}

.menu .logo_Arg img{
    height: 40px;
    width: auto;
}


.menu .redes{
    list-style: none;
}

.menu .redes li{
    display: inline-block;
    padding: 0 20px;  
    font-size: 700;  
}

.menu .redes a{
    color: #eceff1;
    text-decoration: none;    
}

.menu .redes li a:hover{
    color: #1f044d;
}

.menu .login button{
    margin-left: 20px;
    font-weight: 700;
    color: #1b3039;
    padding: 9px 25px;
    background: #eceff1;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

.menu .login button:hover{
    background-color: #e2f1f8;
    color: #fdcdf9;
}

.bi-github{
    display: inline-block;
    font-size: 30px;
    margin-top: 19px;
}
.bi-linkedin {
    display: inline-block;
    font-size: 30px;
    margin-top: 19px;
}
.banner{
    background-image:url(/img/banner-tecoffe.jpg);
    filter: opacity(50%);
}

.banner{
    height: 560px;
  
    background-repeat: none;
    background-size: cover;
    background-position: center;
}

.un_gato{
    font-size: 26px;  
    color: #000000;
    position: absolute;
    transform: translate(30%, -150%);
    padding-left: 2.9vw;
    font-weight: 780;
}

.bi-arrow-down-short{
    font-size: 45px;
    border-radius: 50%;
    padding: 0 12px;  
    color: #000000;
    position: absolute;
    background-color: #d3c6f3;
    transform: translate(-65%, -80%);
    right: 20px;
}

.bi-arrow-down-short:hover{
    box-shadow: 0px 0px 20px #00000033;
}

.dibujo{
    height: 210px;
        background-color: rgb(255, 255, 255);
        margin: 0 30%;
        padding: auto;
        
}
.titular{
    background-color: rgb(255, 255, 255);
    
}


h1 {
   font-family: 'Pacifico', cursive;
    color: #b69fed;
    height: 50px;
}

.soyYo{
    background-color: #ffffff;
    padding: 150px 80px 80px 1px;
    margin: 0%;
}

.titular p{
    font-size: 16px;


}

.Cursos{
    background: #ffffff;
}


.titulos{
    padding: 8px 0px 20px 0px;
    
}
.titulo{
    padding-top: 10px;
    
}
.programa{
font-size: 18px;
}


.fechas{
    background: #ffffff00;
    text-align: right;
    font-size: 13px;
    transform: translateY(-10px);
}
.item_1{
    border-left: 4px solid rgb(167, 105, 181);
    border-collapse: separate;
    padding-left: 18px;
}



.fila{
    padding-left: 26px;
    padding-right: 26px;
}


.unaclase i{
    color: rgb(149, 149, 149);
    font-size: 25px;
    line-height: 2em;
    margin-left: 5px;
}

div .unaclase i:hover{
    color: rgb(102, 36, 255);
}
.educacion{
    text-align: center;
    padding: 20px 0px 18px 0px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #1b1b1b;
    
}
.soft_titel{
    text-align: center;
    padding: 30px 0px 18px 0px;
    font-family: 'Pacifico', cursive;
    font-size: 30px;
    color: #1b1b1b;
    margin: 60px 0 12px 0;
}
.soft_list{
    background-color: #c2aff3;
    display: flex;
    justify-content:center;
    align-items: center;
    min-height: 90px;
    font-family: 'Quicksand', sans-serif;
    color: #505050;
    font-weight: 600;

}


.soft_list .soft{
    list-style: none;
    margin: auto;
    padding: 15px 0%;
    justify-content:center;
}

.soft_list .soft li{
    display: inline-block;
    justify-content:center;
    padding: 0 20px;  
    font-size: 16px;  
    text-align: center;
}

.soft{
    margin: 0px;
    justify-content:center;

}



.card img{
    width: 100px;
    height: auto;
    margin: auto;
    padding: 15px;
}
.card-title{
    text-align: center;
}

.progress{
    margin: 0 6%;
  
}

.card{
    padding: 14%;
    min-height: 150px;
    margin: auto;
    margin-bottom: 50px;
    max-width: 290px;
}

.progress-bar-color {
    background-color: #a887fc;
  }
.progress-bar-color2{
    background-color: #bebebe;
  }

  .spinner-border{
color: #6d6d6dc0;
  }

  .progresss{cursor:progress;}
.spinner-border {
    margin:18px auto;

}



.carousel{
    margin: 10px 20px 180px 20px;
}



.carousel-caption  h5{
padding: 15px 60px;
color: #8c74c9;
background-color: #fefefe;
font-size: 20px;
border-radius: 40px;
border: 2px solid rgb(202, 202, 237);
}


.carousel-caption  h5:hover{
color: #c6c0d7;
 border: 2px solid rgb(215, 215, 255);

}





@media (max-width: 700px) {

    .menu{
        flex-direction: column;
        height: 210px;
        padding: 20px;

    }
    .menu .redes li{
        display: inline-block;
        padding-left: 10px;  
        font-size: 700;  
    }

    .menu .logo_Arg{
    margin: auto;
    }
 
    .menu .login button{
        padding: 9px 45px;
        margin-bottom: 5px;
    }
    .banner{
        height: 400px; 
    background-size: cover;
    background-position: center;
    }

    .un_gato{
        padding-left: 0;
        display: inline;
    }
    .bi-arrow-down-short{
       display: none;  
    }
.titular{
    background: #ffffff;
    width: 30PX;
    border: 30px solid rgb(255, 255, 255);

}
.dibujo{
    padding: auto;
    margin:0% 30%;
}

/*.fila{
    padding-left: 36px;
    padding-right: 36px;

}*/

.unaclase i{
    color: rgb(149, 149, 149);
    font-size: 25px;
    padding-left: 19px;
    line-height: 2em;
}
.unaclase{
    text-align: right;
    margin-bottom: 30px;
}

.card{
    padding: 11% 2%;
    min-height: 150px;
    margin: auto;
    width: 280px;
    margin-bottom: 50px;
    max-width: 360px;
}

.progress{
    margin: 0 16%;
  
}

}


@media (min-width: 1200px) {
    .estaborra{
        display: none;
    }


}


@media (max-width: 750px) {
.soft_list{
    display: flex;
    justify-content:center;
    align-items: center;
    padding: 1.0% 0%;

}


.soft_list .soft{
    list-style: none;
    margin: auto;
    justify-content:center;


}

.soft_list .soft li{
    display: block;
    justify-content:center;
    padding: 10px 20px;  
    text-align: center;
}

.soft{
    margin: 0px;
    justify-content:center;

}


}


